body{
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    text-align: center;
}


.menor{
    color: tomato;
}

.mayor{
    color: green;
}

button{
    margin: 1rem;
}